<section id="contact" class="padding-large">
    <div class="container">
        <div class="row text-center justify-content-center">
        <div class="col-lg-10">
            <div class="display-header">
            <h2 class="display-2">Feel Free to Contact Me</h2>
            <p>For any Queries, contact me <a href="mailto:@sunilsawaneart@gmail.com"><strong>@sunilsawaneart@gmail.com</strong></a> or just call me at <strong>+91-9810238984</strong>. </p>
            </div>
            <div class="btn-center">
            <a href="contact.html" class="btn btn-primary btn-medium text-uppercase">Contact Me</a>
            </div>
        </div>
        </div>
    </div>
    </section>

    <!-- Footer -->
    <footer id="footer" class="overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3 pe-4">
              <div class="footer-menu">
                <img src="images/main-logo.png" alt="logo" class="pb-3">
                <p>Welcome to the official website of Sunil A. Sawane. Here, you can explore a diverse collection of my artwork, including Pen & Ink. My work is inspired by nature, abstract concepts, and personal experiences, and I aim to paint all this on my canvas. Thank you for visiting, and I hope you enjoy exploring my creations.</p>
              </div>
              <div class="copyright">
                <p>© 2024, Sunil A. Sawane. All rights to artwork and content reserved. Unauthorized use or reproduction of any material from this site is prohibited.</p>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase">
                <h5 class="widget-title pb-2">Quick Links</h5>
                <ul class="menu-list list-unstyled text-uppercase">
                  <li class="menu-item pb-2">
                    <a href="#billboard">Home</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#about-us">About</a>
                  </li>
                  <!-- <li class="menu-item pb-2">
                    <a href="#featured-products">Shop</a>
                  </li> -->
                  <li class="menu-item pb-2">
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase">
                <h5 class="widget-title pb-2">Social</h5>
                <div class="social-links">
                  <ul class="list-unstyled">
                    <li class="pb-2">
                      <a href="https://www.facebook.com/share/2yBgtxFQiH4UMLbT/?mibextid=qi2Omg">Facebook</a>
                    </li>
                    <li class="pb-2">
                      <a href="https://x.com/SawaneB1145?t=xpYprttypuSbuer9z-6N5A&s=08">Twitter</a>
                    </li>
                    <li class="pb-2">
                      <a href="https://www.instagram.com/sunil.sawane?igsh=dG9sZXpzbmU4aXFl">Instagram</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="footer-menu contact-item">
                <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                <p><a href="">+ 91-9810238984</a></p>
                <p><a href="mailto:sunilsawaneart@gmail.com">sunilsawaneart@gmail.com</a></p>
                <p>Gurgaon, Haryana, India</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>